/*phonologie*/

body {
background-color: rgba(211, 141, 175,0.08);
background-image:url(../../images<!--/logo.png-->);
background-repeat: no-repeat;
background-position: 1000px 100px;
margin: 30px 75px;
color: black;
font-size: 16px;
}

div#conteneur
{
	width: 1400px ;
	margin: 0 auto;
	text-align: justify;
	border: 2px solid #F57BCA ;
	background: #fff ;
}

div#contenu {
	padding: 30px;
}

h2{
	color: #F26696;
}

h3{
	color: #F26696;
}

body a:hover{
	color: #51623A;
}

a{
	color: #E077A5
}

p{
	color: #B05883
}



